@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

.container {
    height: 100%;
    flex-direction: column;
}

.content {
    background-color: rgb(255, 255, 255);
    flex: 10;
    padding: 20px;
    overflow-y: auto;
}

.gallery-container {
    flex-wrap: wrap;
}

.search {
    flex: 1;
}

.gallery-search-cats {
    flex: 4;
}

.gallery-search {
    width: 100%;
}

.gallery-search button {
    border: none;
    background: transparent;
    cursor: pointer;
    color: rgb(58, 58, 58);
}

.gallery-search button:hover {
    color: black;
}

.pics-gallery {
    margin-top: 20px;
    flex: 1;
}

.pics-gallery img {
    margin: 0 10px 10px 0;
    cursor: pointer;
}

.pics-gallery img:hover {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

/* Canvas */

.top-menu {
    justify-content: space-between;
    display: flex;
}

#canvas {
    flex: 1;
    width: 100%;
    height: auto;
}

.meme-container {
    flex-direction: column;
}

.canvas-container {
    flex: 1;
}

.meme-content-container {
    flex-direction: row;
    margin-top: 10px;
    flex-wrap: wrap;
}

.meme-opts {
    justify-content: space-between;
    flex-wrap: wrap;
}

.meme-opts img {
    cursor: pointer;
}

.general-opt, .font-opt, .color-opt {
    justify-content: space-between;
    margin: 5px;
}

.editor-container {
    flex: 1;
    padding: 0 20px;
}

.footer {
    background-color: rgb(155, 155, 155);
    flex: 1;
    text-align: center;
    cursor: default;
}

/* Helpers */

.input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

.hide {
    display: none;
}

.btn {
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    background-color: green;
    color: white;
    transition: all .2s;
}

.btn:hover {
    background-color: rgb(0, 83, 0);
}

.btn-editor {
    flex: 0 0 33.333333%;
    margin: 2px;
}

.btn-danger {
    background-color: red;
}

.btn-danger:hover {
    background-color: rgb(120, 0, 0);
}

@media screen and (max-width: 1024px) {
    .meme-content-container {
        flex-direction: column;
    }
    .editor-container {
        padding: 0;
    }
    .general-opt, .font-opt, .color-opt {
        flex: 1;
    }
    .footer {
        display: none;
    }
}