body {
    margin: 0;
    height: 100vh;
}

a {
    text-decoration: none;
}

.container {
    height: 100%;
    flex-direction: column;
}

.content {
    background-color: rgb(194, 194, 194);
    flex: 10;
    padding: 20px;
}

.gallery-container {
    flex-wrap: wrap;
}

.search {
    flex: 1;
}

.gallery-search-cats {
    flex: 4;
}

.gallery-search {
    width: 100%;
}

.gallery-search button {
    border: none;
    background: transparent;
    cursor: pointer;
    color: rgb(58, 58, 58);
}

.gallery-search button:hover {
    color: black;
}

.pics-gallery {
    margin-top: 20px;
    flex: 1;
}

.pics-gallery img {
    margin: 0 10px 10px 0;
    cursor: pointer;
}

.pics-gallery img:hover {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

/* Canvas */

#canvas{
    flex: 1;
}

.meme-container{
    flex: 1;
    padding: 0 20px;
}

.meme-opts{
    justify-content: space-between;
}

.meme-opts img {
    cursor: pointer;
}

.footer {
    background-color: rgb(160, 160, 160);
    flex: 1;
}

/* Helpers */

.input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

.hide {
    display: none;
}

.btn {
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    background-color: green;
    color: white;
}

.btn-back {
    position: absolute;
    left: 10px;
}

/* Media */