.header {
    background-color: rgb(155, 155, 155);
    flex: 1;
    display: flex;
    justify-content: space-between;
    user-select: none;
}

.nav {
    list-style: none;
}

.logo-img {
    height: 100%;
}

.nav-item {
    display: inline-block;
    padding: 15px;
    text-align: center;
    width: 150px;
    border-radius: 3px;
    transition: all .2s;
}

.nav-item a {
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
}

.nav-item:hover {
    background-color: rgba(255, 255, 255, 0.329);
    cursor: pointer;
}

.open-menu .screen {
    visibility: visible;
    opacity: 1;
}

.screen {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s;
}

.menu-btn {
    border: none;
    background: none;
    color: black;
    cursor: pointer;
    font-size: 2rem;
    margin-right: 10px;
    display: none;
    height: 100%;
}

@media screen and (max-width: 1023px) {
    .nav {
        flex-direction: column;
        height: auto;
        margin: 0 auto;
        width: 50%;
        position: fixed;
        padding: 0;
        right: 0;
        top: 0;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.75);
        transform: translate(100%, 0);
        transition: transform .6s;
        justify-content: center;
    }
    .open-menu .nav {
        transform: translate(0, 0);
    }
    .menu-btn {
        display: unset;
        /* right: 0; */
    }
    .nav-item {
        width: 100%;
        padding: 40px 0;
    }
    .nav-item a {
        color: white;
    }
}