.header{
    background-color: #fff;
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.nav{
    list-style: none;
    display: flex;
}

.nav-item{
    flex:1;
    padding: 15px;
    text-align: center;
    width: 200px;
}

.nav-item:hover{
    background-color: rgba(0, 98, 255, 0.329);
    cursor: pointer;
}